<template>
  <div class="_linked" :id="id">
    <button class="button-input">
      <span class="button-input-inner__text">+ Заметка в компании</span>
    </button>
    <button class="button-input">
      <span class="button-input-inner__text">+ Заметка в контакте</span>
    </button>
  </div>
</template>

<script>
  export default {
    name: 'LinkedEntities',
    props: {
      id: ``
    }
  }
</script>

<style lang="scss" scoped>
  ._linked {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 19px 0 20px 0;
    background: #fafafa;
    margin: -12px -30px 20px -30px;
  }
</style>